<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/signup" enctype="multipart/form-data">
        <label>type</label>
        <select name="type" aria-label="Default select example">
            <option name="type" value="Real Estate">Real Estate</option>
            <option name="type" value="FSP">FSP</option>
            <option name="type" value="Service Provider">Service Provider</option>
            </select>
<label>f name</label>
<input type="text" name="first_name">
<label>L name</label>
<input type="text" name="last_name">
<label>phone</label>
<input type="text" name="phone">
<label>email</label>
<input type="email" name="email">

<input type="file" name="file" >

<label>password</label>
<input type="password" name="password">

<button type="submit"></button>



    </form>
</body>
</html>